@{
    ViewData["Title"] = "AboutMe";
}

@model Person;

<div class="text-left">
    <h1>My name is</h1><h3>@Model.Name</h3>
    <h1>My surname is</h1><h3>@Model.Surname</h3>
    <h1>My age is</h1><h3>@Model.Age years old</h3>
</div>