@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! My name is Evgeniy</h1>
    <p><a asp-controller="Home" asp-action="AboutMe"><img src="~/Image/аниме.gif" /></a></p>
</div>

